@mixin border() {
    border: 2px solid $light-contrast-color;
    border-radius: 20px;
    background: rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(25px);
    box-shadow: $strong-shadow;
}

@mixin button() {
    width: 80%;
    height: 40px;
    background: $dark-main-color;
    border: none;
    border-radius: 40px;
    color: $almost-white-color;
    font-weight: 600;
    font-size: 17px;
    box-shadow: $box-shadow;
    cursor: pointer;

    &:hover {
        background-color: $contrast-color !important;
        color: $dark-main-color;
        text-shadow: none;
    }
}

@mixin search() {
    border: none;
    font-size: 18px;
    border-radius: 15px;
    padding: 10px;
    height: 40px;
    margin: auto;
    margin-bottom: 50px;
    box-shadow: $box-shadow;
    background-color: rgba(255, 255, 255, 0.7);
    text-align: center 
}