@mixin border() {
    border: 2px solid $contrast-color;
    border-radius: 20px;
    background: transparent;
    backdrop-filter: blur(15px);
    box-shadow: $box-shadow;
}

@mixin button() {
    width: 80%;
    height: 40px;
    background: $dark-main-color;

    border: none;
    border-radius: 40px;
    color: $almost-white-color;
    font-weight: 600;
    font-size: 17px;
    box-shadow: $box-shadow;
    cursor: pointer;

    &:hover {
        background-color: $light-main-color;
    }
}

@mixin search() {
    border: none;
    font-size: 18px;
    border-radius: 15px;
    padding: 10px;
    height: 40px;
    margin: auto;
    margin-bottom: 50px;
    box-shadow: $box-shadow;
    background-color: rgba(255, 255, 255, 0.7);
    text-align: center
}